@charset "utf-8";
@import "~bulma/bulma";


body {
	margin: 0;
}

.main-content {
	flex: 1;
}

#__next {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.__next_flex-child {
	min-height: inherit;
}

.page-transition-enter {
	opacity: 0;
}

.page-transition-enter-active {
	opacity: 1;
	transition: opacity 300ms;
}

.page-transition-exit {
	opacity: 1;
}

.page-transition-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}

.button.is-large svg {
	max-width: 24px;
	max-height: 24px;
}

.button.is-small svg {
	max-width: 16px;
	max-height: 16px;
}

.icon.is-small svg {
	max-width: 14px;
	max-height: 14px;
}
