@charset "utf-8";
@import "~bulma/bulma";

body {
	margin: 0;
}

#__next {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.button.is-large svg {
	max-width: 24px;
	max-height: 24px;
}

.button.is-small svg {
	max-width: 16px;
	max-height: 16px;
}

.icon.is-small svg {
	max-width: 14px;
	max-height: 14px;
}
